*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
}

.hero-content{
    max-width:900px;
    margin:auto;
}

.hero-tag{
    display:inline-block;
    padding:10px 25px;
    border-radius:30px;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(10px);
    color:#00C8FF;
    font-weight:600;
    letter-spacing:1px;
    margin-bottom:25px;
}
