*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
}

/* Navbar */
.navbar{
    background:#20242b !important;
}

/* Hero Section */
.hero{
    height:100vh;
    background:red;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    overflow:hidden;
}

.hero .overlay{
    background:rgba(0,0,0,.60);
}

.hero-content{
    position:relative;
    z-index:2;

    width:42%;

    margin-left:auto;
    margin-right:4%;

    text-align:left;

    color:#fff;
}
.hero-tag{
    display:inline-block;
    padding:8px 20px;
    background:rgba(0,0,0,.55);
    border:1px solid rgba(255,255,255,.15);
    border-radius:30px;

    color:#58c8ff;
    font-size:15px;
    font-weight:600;
}

.hero h1{
    font-size:54px;
    line-height:1.15;
}
.hero p{
    font-size:22px;
    line-height:1.6;
}

.hero-buttons{
    margin-top:35px;
}

.hero-buttons .btn:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 35px rgba(0,0,0,.35);
}

.scroll-down{
    margin-top:60px;
    font-size:32px;
    animation:bounce 2s infinite;
}

@keyframes bounce{

0%,20%,50%,80%,100%{
transform:translateY(0);
}

40%{
transform:translateY(-12px);
}

60%{
transform:translateY(-6px);
}

}
